body{
    font:14px 'Open Sans', sans-serif !important;
}
.map{
    height:500px;
    width:570px;
}

.drilldown{
    height:500px;
    width:100%;
}

/*************/

.selected-country{

}

.slider-holder{

}

/* slider ------------------------------ */

.ticks {
    font-size: 14px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #bbb;
    stroke-width: 10px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}

.sel-range{
    stroke: #737373;
    stroke-width: 8px;
}

.handle {
    fill: #525252;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}
.handle:hover{
    fill: #969696;
}
.handle.active {
    fill: #969696;
}

.legend text{
    fill:#bdbdbd;
    font-weight:bold;
    font-size:14px;
}

.filter-button.active{
    background-color: #525252 !important;
}

.filter-button{
    background-color:#737373 !important;
    font-weight: bold !important;
    color:#bdbdbd !important;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;

    padding: 10px;

    background: #bdbdbd;
    border: 1px solid #525252;
    pointer-events: none;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    color: #999;
    fill: #999;
    opacity: .6;
}

h3 {
	margin-left:5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.container {
  float: left;
}


#graph {}

.ticks {
      font-size: 10px;
    }

.track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #dcdcdc;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;