.map{
    height:500px;
    width:570px;
}

.drilldown{
    height:500px;
    width:100%;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}
/*************/

.selected-country{

}

.slider-holder{

    margin-left: 90px;
}

/* slider ------------------------------ */

.ticks {
    font: 14px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #bbb;
    stroke-width: 10px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}

.sel-range{
    stroke: #9CCC65;
    stroke-width: 8px;
}

.handle {
    fill: #E0F7FA;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}
.handle:hover{
    fill: #B2EBF2;
}
.handle.active {
    fill: #4DD0E1;
}
