body{
    font:14px 'Open Sans', sans-serif !important;
}
.map{
    height:500px;
    width:570px;
}

.drilldown{
    height:500px;
    width:100%;
}

/*************/

.selected-country{

}

.slider-holder{

}

/* slider ------------------------------ */

.ticks {
    font-size: 14px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #bbb;
    stroke-width: 10px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}

.sel-range{
    stroke: #737373;
    stroke-width: 8px;
}

.handle {
    fill: #525252;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}
.handle:hover{
    fill: #969696;
}
.handle.active {
    fill: #969696;
}

.legend text{
    fill:#bdbdbd;
    font-weight:bold;
    font-size:14px;
}

.filter-button.active{
    background-color: #525252 !important;
}

.filter-button{
    background-color:#737373 !important;
    font-weight: bold !important;
    color:#bdbdbd !important;
}